Witaj {{ imie_nazwisko }}!

Miło mi poinformować, że zadanie "{{ nazwa_zadania }}" zostało zaliczone wynikiem pozytywnym.
Uzyskane zostało {{ wynik }} z możliwych {{ max_punktow }} punktów.

Tak trzymać dalej!

--
Wykładowca
